* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: grid;
    min-height: 720px ;
    grid-template-columns: 1fr 2fr 1fr ;
    grid-template-rows: 1fr 2fr 1fr;
    

}